    <footer>

        <div class="popup-login">
            <form action="/" >
                <p>Your Email</p>
                <input type="email" required placeholder="Write here your email address">
                <p>Your Phone number</p>
                <input type="text" required placeholder="Write here your email address">
                <button type="submit">Login in</button>
            </form>
        </div>

    </footer>
    <script src="js/bundle.js"></script>
  </body>
</html>
