/*
ANIMATIONS
 */

.border-center{
  position: relative;
  &:before{
    width:100%;
    transform-origin: 50% 0;
    transform: scale(0 , 1);
    transition: 0.3s;
    content:'';
    position: absolute;
    bottom: 0px;
    height: 1px;
    left: 0;
    background: #000;
  }
  &:hover{
    &:before{
      transform: scale(1);
    }
  }
}

