/*
FONTS LOOP
 */

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot.eot?#iefix') format("embedded-opentype"),
  url('../fonts/ProximaNova-Regular.woff') format("woff"),
  url('../fonts/ProximaNova-Regular.ttf') format("truetype"),
  url('../fonts/ProximaNova-Regular.otf') format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'ProximaNova-Boldr';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot.eot?#iefix') format("embedded-opentype"),
  url('../fonts/ProximaNova-Bold.woff') format("woff"),
  url('../fonts/ProximaNova-Bold.ttf') format("truetype"),
  url('../fonts/ProximaNova-Bold.otf') format("opentype");
  font-weight: 600;
}
$pb:'ProximaNova-Boldr';


