.popup-login {
  position: fixed;
  background: #0000006b;
  z-index: 14;
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  &.is-active{
    display: flex;
  }
  form {
    background: #fff;
    padding: 20px;
    border-radius:7px;
    max-width: 480px;
    width: 100%;
    p {
      font: 18px/1.5 $pr;
      color: #A5A9C0;
      padding: 0 0 10px;
    }

    input {
      border: 1px solid #E3E8E9;
      border-radius: 7px;
      width: 445px;
      height: 57px;
      display: flex;
      align-items: center;
      padding:0 15px;
      font: 18px/1.5 $pr;
      color: #DBDADA;
      margin-bottom: 20px;
      @media (max-width: 1024px){
        width: 100%;
      }
      &::placeholder{
        font: 18px/1.5 $pr;
        color: #DBDADA;
      }

    }

    button {
      @extend .blue-buttons;
    }
  }
}