body{
  main{
    section{
      &.top-banner {
        background-image: url("/img/bg-top.jpg") ;
        background-size: 100%;
        background-position: center 0;
        background-repeat: no-repeat;
        @media (max-width: 480px){
          background-size:1920px 100%;
          background-position: center;
        }
        .top-banner__content {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 136px 0 187px;
          @media (max-width: 1024px){
            padding-bottom: 80px;
          }
          @media (max-width: 480px){
            padding-bottom: 40px;
          }
          h1 {
            max-width: 750px;
            text-align: center;
            font: 64px/78px $pb;
            color: #181F48;
            @media (max-width: 1024px){
              font-size:48px ;
              line-height: 1;
            }
            @media (max-width: 480px){
              font-size:36px ;
              line-height: 1;
            }
          }

          p {
            font: 18px/1.5 $pr;
            display: flex;
            align-items: center;
            text-align: center;
            padding-top: 0;
            color: #7B7E92;
            max-width: 720px;
          }

          .bottom-box {
            display: flex;
            align-items: center;
            margin-top: 28px;
            a {
              margin: 0 10px;
              width: 110px;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #fff;
              color: #305DFB;
              text-decoration: none;
              box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
              border-radius: 32px;
              height: 52px;
              &:hover{
                background: #305DFB;
                color: #fff;
                transition: 0.3s;
              }
              &:first-child{
                @extend .blue-buttons;
              }
            }
          }
        }

        .left-el {
          left: 0;
          bottom: 185px;
          @media (max-width: 1280px){
            left: 30px;
          }
          @media (max-width: 1024px){
            display: none;
          }
          &:after{
            width: 221px;
            height: 221px;
            bottom: -103px;
            right: -50%;
            content: "";
            position: absolute;
            border-radius: 50%;
            background: rgba(226,250,230,.5);
          }
          p {
            &:before{
              width: 142px;
              height: 142px;
              position: absolute;
              content:'';
              bottom: -167px;
              right: -82px;
              background-image: url("/img/Pattern.png");
            }
          }

        }

        .right-el,.left-el {
          position: absolute;
          width: 200px;
          &:before{
            width: 0;
            height: 0;
            border-left: 22px solid transparent;
            border-right: 22px solid transparent;
            border-top: 71px solid #fff;
            position: absolute;
            content: "";
            bottom: -23px;
            left: -10px;
            transform: rotate(
                            45deg
            );
            z-index: 1;
          }
          p {
            background: #FFFFFF;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
            border-radius: 5px;
            padding: 10px;
            z-index: 2;
            position: relative;
            font: 10px/1.5 $pr;
            color: #A5A9C0;
          }

          img {
            position: absolute;
            top: -25px;
            right: -25px;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            z-index: 3;
          }
        }
        .right-el{
          right: 0;
          bottom: 126px;
          @media (max-width: 1280px){
            right: 30px;
          }
          @media (max-width: 1024px){
            display: none;
          }
          p{
            &:before{
              width: 142px;
              height: 142px;
              position: absolute;
              content:'';
              bottom: -167px;
              right: 5px;
              background-image: url("/img/Pattern.png");
            }
          }
          &:before{
            left: auto;
            right: -10px;
            transform: rotate(
                            -45deg
            );
          }
          &:after{
            width: 151px;
            height: 151px;
            bottom: -107px;
            right: -22px;
            content: "";
            position: absolute;
            border-radius: 50%;
            background: rgba(239, 243, 255, 0.5);
          }
        }
      }
      &.text-section {
        padding: 60px 0 30px;
        @media (max-width: 480px){
          padding-bottom: 0;
          padding-top: 30px;
        }
          .text-section__content {
              display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 768px){
              flex-direction: column;
            }
            .text-section__content--left {
              max-width: 330px;
              margin: 0 23px;
              @media (max-width: 768px){
                margin: 0 0 20px;
                max-width: 100%;
              }
              h6 {
                font: 24px/1.5 $pb;
                padding: 0;
                color: #181F48;
              }
            }

            .text-section__content--right {
              max-width: 440px;
              margin: 0 23px;
              @media (max-width: 768px){
                margin: 0 0 20px;
                max-width: 100%;
              }
              ul {
                li {
                  font: 18px/1.5 $pr;
                  color: #A5A9C0;
                  padding-bottom: 25px;
                  position: relative;
                  padding-left: 30px;
                  &:before{
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    left: 0;
                    top: 6px;
                    content:'';
                    background: #1FCA3E;
                    border-radius: 50%;
                  }
                }
              }
            }
          }
      }
      &.free-trial {
        position: relative;
        &:before{
          position: absolute;
          background-image: url("/img/bg-form.jpg");
          background-size: cover;
          background-position: center bottom;
          width: 100%;
          content:'';
          left: 0;
          top: 31px;
          height: calc(100% - 62px);
          @media (max-width: 480px){
            display: none;
          }
        }
          .free-trial__content {
            display: flex;
            justify-content: space-between;
              @media (max-width: 1024px){
                flex-direction: column;
                align-items: center;
              }
            .free-trial__content--left-box {
                max-width: 490px;
              padding: 70px 0;
              @media (max-width: 768px){
                flex-direction: column;
                align-items: center;
                display: flex;
                padding-bottom: 40px;
                padding-top: 30px;
              }
              img {
                  width: 60px;
                height: 60px;
              }

              h3 {
                padding: 20px 0 10px;
                font: 24px $pb;
                color: #181F48;
              }

              p {
                font: 18px/1.5 $pr;
                line-height: 150%;
                padding: 0;
                color: #7B7E92;
              }
            }

            .free-trial__content--right-box {
              background: #FFFFFF;
              box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
              border-radius: 10px;
              padding: 30px;
              @media (max-width: 1024px){
                max-width: 440px;
                width: 100%;
                padding: 15px;
              }
              form {

                p {
                  font: 18px/1.5 $pr;
                  color: #A5A9C0;
                  padding: 0 0 10px;
                }

                input {
                  border: 1px solid #E3E8E9;
                  border-radius: 7px;
                  width: 445px;
                  height: 57px;
                  display: flex;
                  align-items: center;
                  padding:0 15px;
                  font: 18px/1.5 $pr;
                  color: #DBDADA;
                  margin-bottom: 20px;
                  @media (max-width: 1024px){
                    width: 100%;
                  }
                  &::placeholder{
                    font: 18px/1.5 $pr;
                    color: #DBDADA;
                  }

                }

                button {
                  @extend .blue-buttons;
                }
              }
            }
          }
      }
      &.outbound {
        margin-top: 87px;
        position: relative;

        @media (max-width: 1024px){
          margin-top: 30px;
        }
          .outbound__content {
          display: flex;
            align-items: center;
            justify-content: space-between;
            &:before{
              background: #E2FAE6;
              width: 179px;
              height: 179px;
              position: absolute;
              content:'';
              left: -79px;
              top: -47px;
              border-radius: 50%;
            }
            &:after{
              width: 53px;
              height: 53px;
             position: absolute;
              content:'';
              top: 160px;
              left: -79px;
              border-radius: 50%;
              background: #EFF3FF;
            }
            @media (max-width: 1024px){
              flex-direction: column-reverse;
            }
            .outbound__content--left-box {
              background: #FFFFFF;
              box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
              border-radius: 10px;
              padding: 43px 30px 20px;
              width: 415px;
              position: relative;
              &:after{
                width: 142px;
                height: 142px;
                position: absolute;
                content: "";
                bottom: -57px;
                right: -82px;
                background-image: url('/img/Pattern.png');
                z-index: -1;
                @media (max-width: 768px) {
                  display: none;
                }
              }
              @media (max-width: 1024px){
                max-width: 415px;
                width: 100%;
                margin-top: 20px;
              }
              @media (max-width: 480px){
                padding: 15px 10px;
              }
              .message--el {
                display: flex;
                border: 1px solid #E3E8E9;
                border-radius: 7px;
                padding: 15px 18px;
                margin-bottom: 20px;
                .message--el__img {

                  img {
                    width: 51px;
                    height: 51px;
                    border-radius: 50%;
                  }
                }
                .message--el__text{
                  margin-left: 16px;
                  span {
                    font: 16px/1.5 $pr;
                    color: #181F48;
                  }

                  p {
                    font: 14px/1.5 $pr;
                    color: #A5A9C0;
                    padding: 5px 0 0;
                    white-space:nowrap;
                    text-overflow: ellipsis;
                    @media (max-width: 480px) {
                      white-space:normal;
                    }
                  }
                }

              }

              .button-box {
                display: flex;
                align-items: center;
                a {
                  border-radius: 32px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 52px;
                  width: 112px;
                  background: #F8F8F8;
                  text-decoration: none;
                  font-size: 16px;
                  transition: 0.3s;
                  color: #A5A9C0;
                  font-family: $pb;
                  &:hover{
                      background: #181F48;
                      color: #fff;
                    }
                  &:first-child{
                    background: #1FCA3E;
                    color: #fff;
                    width: 197px;
                    margin-right: 10px;

                    border: 1px solid #1FCA3E;
                    &:hover{
                      background: #fff;
                      color: #1FCA3E;
                    }
                  }
                }
              }
            }

            .outbound__content--right-box {
              max-width: 505px;
              @media (max-width: 1024px){
                flex-direction: column;
                display: flex;
                align-items: center;
                position: relative;
              }
              img {
                width: 60px;
                height: 60px;
              }

              h3 {
                padding: 20px 0 10px;
                font: 24px $pb;
                color: #181F48;
              }

              p {
                font: 18px/1.5 $pr;
                line-height: 150%;
                padding: 0;
                color: #7B7E92;
              }
            }
          }
      }
      &.send {
        margin-top: 150px;
        padding-bottom: 116px;
        overflow: hidden;
        @media (max-width: 1024px){
          margin-top: 100px;
        }
        @media (max-width: 480px){
          margin-top: 50px;
        }
          .send__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            @media (max-width: 1024px){
              flex-direction: column;
              align-items: center;
            }
            .send__content--left-box {
              max-width: 505px;
              @media (max-width: 768px){
                display: flex;
                flex-direction: column;
                align-items: center;
              }
              img {
                width: 60px;
                height: 60px;
              }

              h3 {
                padding: 20px 0 10px;
                font: 24px $pb;
                color: #181F48;
              }

              p {
                font: 18px/1.5 $pr;
                line-height: 150%;
                padding: 0;
                color: #7B7E92;
              }
            }

            .send__content--right-box {
                max-width: 415px;
              position: relative;
              display: flex;
              flex-direction: column;
              padding: 30px 30px 0;
              background: #FFFFFF;
              box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
              border-radius: 10px;
              @media (max-width: 1024px){
                margin-top: 20px;
              }
              @media (max-width: 480px){
                width: 100%;
                padding: 10px 5px 0;
              }
              .header-box {
                display: flex;
                align-items: center;
                &:before{
                  width: 142px;
                  height: 142px;
                  position: absolute;
                  content: "";
                  bottom: -70px;
                  right: calc(50% - 71px);
                  background-image: url('/img/Pattern.png');
                  z-index: -1;
                }
                img {
                  width: 51px;
                  height: 51px;
                }

                p {
                  font: 16px/1.5 $pr;
                  color: #181F48;
                  padding: 0;
                  margin-left: 16px;
                }

                form {
                  display: flex;
                  align-items: center;
                  margin-left: auto;
                  input {
                    background: #F8F8F8;
                    border-radius: 32px;
                    display: flex;
                    align-items: center;
                    padding: 0 15px;
                    height: 42px;
                    width: 83px;
                    border: none;
                    font: 16px $pb;
                    &::placeholder{
                      color: #A5A9C0;
                    }

                  }

                  button {
                    border: 1px solid #1FCA3E;
                    background: #1FCA3E;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 42px;
                    height: 42px;
                    margin-left: 10px;
                    border-radius: 50%;
                    &:hover{
                      background: #fff;
                      svg,path {
                        fill:#1FCA3E ;
                      }
                    }
                    svg {

                      path {

                      }
                    }
                  }
                }
              }
              .mess-container{
                max-height: 216px;
                margin-top: 20px;
              }

              .message--el {
                border: 1px solid #E3E8E9;
                border-radius: 7px;
                margin-bottom: 10px;
                position: relative;
                background: #fff;
                &:before{
                  background: linear-gradient(180deg, rgba(255, 255, 255, 0.46) 0%, #FFFFFF 100%);
                  position: absolute;
                  width: 100%;
                  content:'';
                  height: 22px;
                  left: 0;
                  bottom: 0;
                }
                p {
                  color: #A5A9C0;
                  font: 14px/1.5 $pr;
                  padding: 10px;
                }
              }
              &:before{
                width: 139px;
                height: 139px;
                top: -35px;
                right: -42px;
                border-radius: 50%;
                content:'';
                position: absolute;
                background: #EFF3FF;
                z-index: -1;
              }
              &:after{
                width: 231px;
                height: 231px;
                background: #E2FAE6;
                bottom: -79px;
                left:  -76px;
                border-radius: 50%;
                content:'';
                position: absolute;
                z-index: -1;
              }
            }
          }
      }
    }
  }
}
