header {
  order: 1;
  padding: 24px 0;
  position: absolute;
  width: 100%;
  z-index: 3;
  @media (max-width: 768px){
    padding: 12px 0;
  }
    .header--content {
      display: flex;
      align-items: center;
      .logo {
        display: flex;
        align-content: center;
        width: 67px;
        height: 60px;
        z-index: 9;
        img {
          width: 100%;
          height: auto;
        }
      }
      .burger-menu{
          display: none;
          position: relative;
          width: 34px;
          height: 30px;
          cursor: pointer;
          margin-left: auto;
        z-index: 9;
        span {
          position: relative;
          display: block;
          width: 100%;
          border-bottom: 3px solid #222;
          padding-top: 26px;
          transition: all .2s ease-in-out;
          &:before, &:after {
            position: absolute;
            background: #222;
            content: '';
            width: 100%;
            height: 3px;
            transition: all .2s ease-in-out;
          }

          &:before {
            top:0px;
          }

          &:after {
            top: 13px;
          }
        }


      &.is-active {
        span {
          border-bottom:none;
          top: 7px;

          &:before {
            transform: rotate(
                            45deg
            ) translate(3px,4px);
          }

          &:after {
            transform: rotate(-45deg) translate(5px, -6px);
          }
        }
      }

      @media (max-width: 768px){
          display: block;
        }

      }
      nav {
      display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 60px);
        height: 60px;
        padding-left: 3px;
        @media (max-width: 768px){
          position: fixed;
          flex-direction: column;
          width: 100%;
          background: #fff;
          top: -100%;
          left: 0;
          height: calc(100vh - 84px);
          align-items: center;
          overflow-x: scroll;
          max-height: 100vh;
          z-index: 4;
          padding: 20px 0;
          -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
          -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
          transition: 0.3s;
          &.is-active{
            top: 84px;
          }
        }
        a{
          @extend .border-center;
          font: 16px/19px $pr;
          text-decoration: none;
          margin-left:  40px;
          color: #A5A9C0;
          outline: none;
          @media (max-width: 1024px){
            margin-left: 30px;
          }
          @media (max-width: 768px){
           margin-left: 0;
          }
          &:hover{
            color: #000;
          }
        }

       & > ul {
          display: flex;
          align-items: center;
         height: 100%;
         @media (max-width: 768px){
           flex-direction: column;
           width: 100%;
           overflow-x: auto;
         }
          li {
            display: flex;
            align-items: center;
            height: 100%;
            cursor: pointer;
            @media (max-width: 768px){
              width: 100%;
              justify-content: center;
              height: auto;
              padding-bottom: 15px;
            }
            &.drop-down {
              margin-right: 15px;
              position: relative;
              @media (max-width: 768px){
                flex-direction: column;
                margin-right: 0;
              }
              @media (min-width: 768px){
                &:hover {
                  & > ul {
                    top: 55px;
                    visibility: visible;
                    opacity: 1;
                    z-index: 3;

                  }
                  & > a{
                    &:after{
                      transform: rotate(-135deg);
                    }
                  }
                }
              }

              &.is-active{
               & > ul {
                  transform: scale(1);
                 position: relative;
                 height: auto;
                }

              }

             & > a {
                &:after{
                  content:'';
                  position: absolute;
                  top: calc(50% - 3px);
                  right: -15px;
                  width: 6px;
                  height: 6px;
                  border-right: 1px solid #A5A9C0;
                  border-bottom: 1px solid #A5A9C0;
                  transform: rotate(45deg);
                  transition: 0.3s;
                }
              }

              ul {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 155px;
                width: 230px;
                left: 35px;
                align-items: flex-start;
                padding: 10px 20px;
                -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
                -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
                box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
                background: #fff;
                border-radius: 5px;
                z-index: -3;
                transition: 0.3s;
                transform-origin: 0 0;
                visibility: hidden;
                opacity: 0;
                @media (max-width: 768px){
                  opacity: 1;
                  visibility: visible;
                  position: absolute;
                  height: 0px;
                  left: 0;
                  width: 100%;
                  padding: 0;
                  top: 15px;
                  box-shadow: none;
                  transform: scale(1, 0);
                }
                li {
                  padding-bottom: 10px;
                  a {
                    margin-left: 0;
                  }
                }
              }
            }
            a {

            }
          }
        }

        .button-box {
          display: flex;
          align-items: center;
          @media (max-width: 768px){
            width: 100%;
            justify-content: space-between;
            padding:0 15px;
          }
          span {
            @extend .border-center;
            cursor: pointer;
            display: block;
            margin-right: 30px;
            font: 16px $pb;
            color: #A5A9C0;
            &:hover{
              color: #000;
            }
          }

          a {
            @extend .blue-buttons;
            margin-left: 0;
          }
        }
      }
    }
}