<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main>
  <section class="top-banner">
    <div class="container">
      <div class="top-banner__content">
        <h1>Welcome to your presonal SMS Dashboard</h1>
        <p>Tempor minim anim eiusmod occaecat eu. In labore veniam incididunt mollit commodo nostrud non ex occaecat occaecat deserunt magna quis veniam. </p>
        <div class="bottom-box">
          <a href="#freeTrialForm">Start Free Trial</a>
          <a href="#send">Discover</a>
        </div>
      </div>
      <div class="left-el">
        <p>Eiusmod irure ullamco eiusmod mollit ex qui. Mollit veniam tempor amet veniam eiusmod aute. Proident minim ad exercitation qui...</p>
        <img src="img/avatar1.jpg" alt="avatar">
      </div>
      <div class="right-el">
        <p>Eiusmod irure ullamco eiusmod mollit ex qui. Mollit veniam tempor amet veniam eiusmod aute. Proident minim ad exercitation qui...</p>
        <img src="img/avatar2.jpg" alt="avatar">
      </div>
    </div>
  </section>
  <section class="text-section">
    <div class="container">
      <div class="text-section__content">
        <div class="text-section__content--left">
        <h6>Nisi ad voluptate laboris dolor deserunt adipisicing ea amet mollit commodo voluptate aute adipisicing. Anim minim do exercitation id.</h6>
        </div>
        <div class="text-section__content--right">
            <ul>
              <li>
                Nisi ad voluptate laboris dolor deserunt adipisicing ea amet mollit commodo voluptate aute adipisicing.
              </li>
              <li>
                Nisi ad voluptate laboris dolor deserunt adipisicing.
              </li>
              <li>
                Nisi ad voluptate laboris dolor deserunt.
              </li>
            </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="free-trial">
    <div class="container">
      <div class="free-trial__content">
        <div class="free-trial__content--left-box">
          <img src="img/icon.jpg" alt="icon">
          <h3>Set up FREE Trial Account</h3>
          <p>
            Duis pariatur ullamco Lorem magna duis Lorem. Nisi quis sit Lorem cupidatat eiusmod ad et anim commodo dolor id voluptate cupidatat. Dolore ut excepteur enim tempor.
          </p>
        </div>
        <div class="free-trial__content--right-box">
          <form action="/" id="freeTrialForm">
            <p>Your Email</p>
            <input type="email" required placeholder="Write here your email address">
            <p>Your Phone number</p>
            <input type="text" required placeholder="Write here your email address">
            <button type="submit">Start Free Trial</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="outbound">
    <div class="container">
      <div class="outbound__content">
        <div class="outbound__content--left-box">
          <div class="message--el">
            <div class="message--el__img">
              <img src="img/avatar3.jpg" alt="avatar">
            </div>
            <div class="message--el__text">
              <span>Brandie Warren</span>
              <p>Sunt mollit dolor sunt non cillum pari...</p>
            </div>
          </div>
          <div class="message--el">
            <div class="message--el__img">
              <img src="img/avatar4.jpg" alt="avatar">
            </div>
            <div class="message--el__text">
              <span>Wade Wilson</span>
              <p>Sunt mollit dolor sunt non cillum pari...</p>
            </div>
          </div>
          <div class="button-box">
            <a href="#">Create New Message</a>
            <a href="#">Archive</a>
          </div>
        </div>
        <div class="outbound__content--right-box">
            <img src="img/icon2.jpg" alt="icon">
            <h3>Outbound SMS</h3>
            <p>
              Create and store templates for messages you send on a regular basis. Duis pariatur ullamco Lorem magna duis Lorem.
            </p>
        </div>
      </div>
    </div>
  </section>
  <section class="send" id="send">
    <div class="container">
      <div class="send__content">
        <div class="send__content--left-box">
          <img src="img/icon4.jpg" alt="icon">
          <h3>Send SMS</h3>
          <p>
            Send the same message to multiple recipients in one scheduled event. If you want to send multiple messages to multiple recepients in one event, please use the bulk upload option in the main menu.
          </p>
        </div>
        <div class="send__content--right-box">
            <div class="header-box">
              <img src="img/avatar5.jpg" alt="avatar">
              <p>Ronald Simmmons</p>
              <form action="/">
                <input type="text" placeholder="Select">
                <button type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 18 15" fill="none">
                    <path d="M17.7634 0.103645C17.5909 -0.0186049 17.3644 -0.0351049 17.1769 0.0631451L0.301917 8.87565C0.102417 8.9799 -0.0153329 9.1929 0.00116715 9.41715C0.0184172 9.64215 0.167667 9.83415 0.379918 9.9069L5.07117 11.5104L15.0619 2.9679L7.33092 12.2821L15.1932 14.9694C15.2517 14.9889 15.3132 14.9994 15.3747 14.9994C15.4767 14.9994 15.5779 14.9716 15.6672 14.9176C15.8097 14.8306 15.9064 14.6844 15.9312 14.5201L17.9937 0.645145C18.0244 0.435145 17.9359 0.226645 17.7634 0.103645Z" fill="white"/>
                  </svg>
                </button>
              </form>
            </div>
          <div class="mess-container">
            <div class="message--el">
              <p>Culpa pariatur minim eiusmod mollit qui. Dolore reprehenderit duis sint aliqua do magna pariatur ad reprehenderit laborum veniam consequat.</p>
            </div>
            <div class="message--el">
              <p>Culpa pariatur minim eiusmod mollit qui. Dolore reprehenderit duis sint aliqua do magna pariatur ad reprehenderit laborum veniam consequat.</p>
            </div>
            <div class="message--el">
              <p>Culpa pariatur minim eiusmod mollit qui. Dolore reprehenderit duis sint aliqua do magna pariatur ad reprehenderit laborum veniam consequat.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>