/*
BUTTONS STYLES
 */

.blue-buttons{
  background: #305DFB;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 144px;
  height: 50px;
  text-decoration: none;
  border: 1px solid  #305DFB;
  overflow: hidden;
  transition: 0.3s;
  &:before{
    display: none;
  }
  &:hover{
    background: #fff;
    color: #305DFB;
  }
}
